
body {
    font-family: 'Poppins', sans-serif;
}

.navgap {
    margin-top: 40px;
    padding-left: 30px;
}

.navgap a {
    color: #707070;
    font-size: 13px;
}
.navgap img {
    width: 120px;
}
.btn {
    background-color: black;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 130px;
    height: 40px;
}
.carousel-item p {
    color: gray;
    font-size: 13px;
}
.carousel-item h4 {
    font-weight: bold;
}
.c-name p {
    font-size: 14px;
    font-weight: bold;
    color: #FF9D00;
}

.c-disc {
    padding: 0px 120px 0px 30px;
}
.products {
    padding: 35px;
}
.card img {
    width: 60%;
    padding-top: 30px;
}
.card h6 {
    font-weight: bold;
    font-size: 17px;
}
.card-text {
    font-size: 12px;
    color: grey;
}
.card {
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 15px;
}
.col6 img {
    width: 100%;
}
.rw1 img {
    width: 100%;
}
.order img {
    width: 100%;
}


.col2 {
    width: 200px;
    height: 200px;
    margin: 18px 0px;
    box-shadow: 0px 20px 30px lightgrey;
    border-radius: 10px;
}
.col1 {
    width: 200px;
    height: 200px;
    box-shadow: 0px 20px 40px lightgrey;
    border-radius: 10px;

}
#categories {
    margin-top: 70px;
}
.underline {
    width: 100px;
    height: 7px;
    background-color:#FF9D00;
    border-radius: 7px;
}